@charset "UTF-8";

/* ------ Grundstilen för sidorna ----- */

html {
  height: 100%;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Ta bort inbyggda marginaler och ändra box-sizing */
html, body, nav, header, main, aside, footer, section, div, figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  color: #000000;
  padding: 0 7px;
  max-width: 1000px;
  margin: 0 auto;
}

body {
  position: relative;
  min-height: calc(100vh - 66px);
  background-color: rgb(248, 246, 244);
  margin-top: 66px; /* Added because of the fixed header */
  padding-bottom: 64px; /* Added because of the absolute footer */
}

h1 {
  color: #36485a;
  font-size: 1.8em;
  margin: 0;
  padding: 0.6em 0;
}

/* ------ Header Styles ----- */
nav {
  background-color: #e9deda;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.main-nav {
  margin-right: 0.8em;
  display: flex;
  padding: 1em;
  gap: 1.2em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

.home-nav {
  margin: 0.5em auto 0 1em;
}

.home-link {
  font-size: 1.4em;
  font-weight: 600;
  padding-left: 5px;
}

.nav-link {
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 0.5em 1.2em;
  border-radius: 5px;
}

.nav-link:link, .nav-link:visited {
  color: #2e455e;
} 

.nav-link:hover, .nav-link:active {
  background-color: #f5f1ef;
} 

/* ------ Footer Styles ----- */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #e9deda;
  padding: 8px;
}

footer p {
  color: #1f3042;
  text-align: center;
  font-size: 0.95em;
}

/* ------ Snippet styles ----- */
.snippet {
  background-color: rgb(255, 255, 255);
  margin: 15px auto;
  padding: 1em;
  border-radius: 10px;
}

.snippet p {
  word-wrap: break-word;
  margin: 0;
}

.snippet-header {
  display: flex;
}

.snippet-header h4 {
  margin: 0;
  margin-right: auto;
}

.snippet-header a {
  margin-left: 10px;
}

.snippet-content {
  height: min-content;
  white-space: pre-wrap;
}

.snippet-remove:hover, .snippet-remove:active {
  color: #db1c1c;
}

.snippet-footer {
  color: #4d4d4d;
}

/* ------ Snippet post styles ----- */
.snippet-form {
  width: max-content;
  margin: 20px auto 40px auto;
}

.snippet-form label {
  font-size: 1.05em;
}

.snippet-form textarea {
  display: block;
  resize: vertical;
  font-size: 1.2em;
  font-family: inherit;
  padding: 0.2em 0.5em;
  margin-top: 5px;
  width: 700px;
  height: 6em;
}

/* ------ Login and registration page styles ----- */
.registration-form, .login-form {
 display: flex;
 flex-direction: column;
 margin: 1em;
}

.registration-form input, .login-form input {
  margin: 0 auto;
  max-width: 300px;
  font-size: 1.2em;
  padding: 0.1em;
  margin-bottom: 0.8em;
}

.registration-form label, .login-form label {
  padding-bottom: 0.2em;
}

/* ------ Button styles ----- */

button {
  display: block;
  color: white;
  font-size: 1.3em;
  font-weight: 600;
  background-color: #3f5268;
  padding: 0.5em 1.2em 0.5em 1.2em;
  margin: 0.5em auto;
  cursor: pointer;
}

button:hover, button:active {
  background-color: #4f6074;
}

/* ------ Link styles ----- */
a {
  text-decoration: none;
}

a:link, a:visited {
  color: #0f3966;
}

a:hover, a:active {
  color: #4d647e;
}

/* ------ Flash messages styles ----- */
.flash {
  
  padding: 0.7em;
  max-width: 100%;
}

.flash-success {
  color: rgb(16, 112, 7);
  background-color: rgb(178, 236, 170);
}

.flash-danger {
  color: rgb(107, 6, 6);
  background-color: rgb(240, 163, 163);
}

/* ------ Other styles ----- */
.center-text {
  text-align: center;
}