<header>
  <nav>
    <ul class="home-nav">
      <li>
        <a class="home-link" href="./">CRUD Snippets</a>
      </li>
    </ul>
    <ul class="main-nav">
      {{#if loggedIn }}
      <li>
        <a class="nav-link" href="./account/logout">Log out</a>
      </li>
      {{else}}
      <li>
        <a class="nav-link" href="./account/registration">Create account</a>
      </li>
      <li>
        <a class="nav-link" href="./account/login">Log in</a>
      </li>
      {{/if}}
    </ul>
  </nav>
</header>