<h1 class="center-text">Log in</h1>

<form class="login-form center-text" method="post" action="./account/loginpost">
    <label for="username">Username</label>
    <input id="username" name="username" type="text">
    <label for="password">Password</label>
    <input id="password" name="password" type="password">
    <button type="submit">Log in</button>
</form>